<p id="notice"><%= notice %></p>

<p>
  <strong>Professors names:</strong>
  <%= @professor.professors_names %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
